[Unit]
Description=Java App Service
After=syslog.target network.target

[Service]
SuccessExitStatus=143

User=ubuntu

Type=simple

WorkingDirectory=/home/ubuntu
ExecStart=java -jar app.jar
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
